/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Mobile Fonts */

* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: clamp(2rem, 6vw, 5.5rem);
    font-weight: bold;
}

.logo-text {
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-weight: bold;
    cursor: default;
}

h2 {
    font-size: clamp(1.25rem, 4vw, 2.25rem);
    font-weight: bold;
    margin-bottom: 5%;
}

h3 {
    font-size: clamp(0.75rem, 2vw, 2rem);
    font-weight: 500;
    cursor: default;
}

p  {
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    font-weight: normal;
    line-height: 1.5;
}

figcaption { 
    font-size: clamp(0.8rem, 2vw, 1.5rem); 
    font-weight: 500;
}

button {
    font-size: clamp(0.75rem, 2vw, 1.25rem);
}

@media (min-width: 1200px) {
    h2 {
        margin-bottom: 2rem;
    }
}

/* General Elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

main {
    margin: 0 8%;
}

img {
    max-width: 100%;
}

main h2 {
    margin-top: 5%;
}

/* Basic Information Window */

.infoWindow {
    display: flex;
    flex-direction: column;
    padding: 5%;
    box-shadow: 0px 0px clamp(10px, 1vw, 15px) #5a5a5a;
    background-color: #F8F8FF;
    border-radius: 10px;
    margin-bottom: 5%;
}

.dotsWrapper {
    display: flex;
    justify-content: flex-end;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.dot:nth-of-type(1) {
    background-color: #28CD41;
}

.dot:nth-of-type(2) {
    background-color: #FFD60A;
}

.dot:nth-of-type(3) {
    background-color: #FF3B30;
}

.infoWindow img {
    display: flex;
    border-radius: 10px;
    margin: 5% 0;
}

@media (min-width: 768px) {
    .dot {
        width: 12px;
        height: 12px;
    }
}

@media (min-width: 1024px) {
    .infoWindow {
        padding-top: 2rem;
    }

    .dot {
        width: 15px;
        height: 15px;
    }

    .infoWindow {
        display: grid;
        column-gap: 2rem;
        grid-template-areas:
            "dots   dots"
            "image  article";
    }

    .dotsWrapper {
        grid-area: dots;
        margin-bottom: 5%;
    }

    .infoWindow img {
        grid-area: image;
        justify-self: center;
        margin: 0;
    }

    .infoWindow article {
        grid-area: article;
    }
}

/* Full Description */

.fullDescription {
    margin-bottom: 5%;
}

/* Activities Section */

.activities {
    display: flex;
    flex-direction: column;
}

.activities img {
    border-radius: 10px;
    margin-bottom: 5%;
}

@media (min-width: 1200px) {
    .activities {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

/* Footer Section */

footer {
    margin-top: 5%;
    padding: 5% 8% 8%;
    background-color: #2D3436;
}

.contactsWrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
}

.contactItem {
    display: flex;
    padding: 5px;
    border-radius: 10px;
    transition: 500ms;
    box-shadow: 2px 2px 1px #0984E3;
}

.contactItem a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.contactItem .icon {
    padding-left: 1rem;
    width: 60px;
}

.contactItem a figcaption {
    padding-left: 1rem;
}

.contactItem:hover {
    opacity: 0.5;
}

/* Contact Section Media Queries */

@media (min-width: 1200px)
{
    .contactsWrapper {
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }

    .contactItem a {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-decoration: none;
        width: 100%;
    }

    .contactItem .icon {
        padding-left: 0;
    }
    
    .contactItem a figcaption {
        padding-left: 0;
    }
}