/* Navigation Bar Header */

header {
    display: flex;
    justify-content: space-between;
    margin: 5% 8%;
    transition: margin-top 500ms;
}

header a {
    text-decoration: none;
}

header a h2 {
    grid-area: logo;
    display: inline;
    cursor: pointer;
    font-size: clamp(1.5rem, 2vw, 3rem);
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navLinks {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
}

.navLinks li a {
    text-decoration: none;
    transition: 500ms;
}

.navLinks li a:hover {
    color: #0984E3;
}

header nav img {
    width: 25px;
    cursor: pointer;
    margin-bottom: 5%;
}

.navActive {
    display: flex;
}

/* Navigation Bar Media Queries */

@media (min-width: 1200px)
{
    header {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    header nav img {
        display: none;
    }

    .navLinks {
        display: flex;
        flex-direction: row;
    }

    .navLinks li {
        margin-left: 4rem;
    }

    .navLinks li a {
        font-size: clamp(0.75rem, 1.5vw, 2rem);
        font-weight: 500;
    }
}