/* General Elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

main {
    margin: 0 8%;
}

/* Project List Section */

main h2 {
    margin: 5% 0;
}

.projectList {
    display: flex;
    flex-direction: column;
}

.projectCard {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    box-shadow: 0px 0px clamp(10px, 1vw, 15px) #5a5a5a;
    background-color: #F8F8FF;
    border-radius: 10px;
}

.briefInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    padding: 5%;
}


.briefInfo h3 {
    font-size: clamp(0.75rem, 2vw, 2rem);
}

.techUsed {
    display: flex;
    padding-left: 10px;
}

.techUsed img {
    width: clamp(20px, 4vw, 50px);
}

.infoButton {
    border: none;
    border-radius: 5px;
    padding: 5% 0;
    width: 80%;
    justify-self: center;
    transition: 500ms;
    cursor: pointer;
}

.infoButton:hover {
    background-color: #ebbc66;
}

.fullInfo {
    display: none;
    flex-direction: column;
    padding: 0 5% 5% 5%;
    width: 100%;
}

.fullInfo p {
    grid-area: text;
    margin: 5% 0;
}

.fullInfo a {
    grid-area: link;
    font-size: clamp(0.75rem, 2vw, 1.5rem);
}

.fullInfo img {
    grid-area: image;
    max-width: 100%;
    border-radius: 10px;
}

.fullInfoShow {
    display: flex;
}

@media (min-width: 768px) {
    .infoButton {
        display: none;
    }

    .briefInfo {
        display: flex;
        justify-content: space-between;
    }

    .fullInfo {
        display: flex;
    }

    .fullInfo {
        padding: 2rem;
        padding-top: 0;
    }
}

@media (min-width: 1200px) {
    main h2 {
        margin-bottom: 2rem;
    }

    .projectList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .projectCard {
        border-radius: 20px;
    }
}

/* Footer Section */

footer {
    margin-top: 5%;
    padding: 5% 8% 8%;
    background-color: #2D3436;
}

footer h2 {
    margin-bottom: 2rem;
}

.contactsWrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
}

.contactItem {
    display: flex;
    padding: 5px;
    border-radius: 10px;
    transition: 500ms;
    box-shadow: 2px 2px 1px #0984E3;
}

.contactItem a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.contactItem .icon {
    padding-left: 1rem;
    width: clamp(45px, 6vw, 80px);
}

.contactItem a figcaption {
    padding-left: 1rem;
}

.contactItem:hover {
    opacity: 0.5;
}

/* Contact Section Media Queries */

@media (min-width: 1200px)
{
    .contactsWrapper {
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }

    .contactItem a {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-decoration: none;
        width: 100%;
    }

    .contactItem .icon {
        padding-left: 0;
    }
    
    .contactItem a figcaption {
        padding-left: 0;
    }
}